<div class="example-button-container">
    <h1 class="title">Meu histórico de compras</h1>
    <button mat-raised-button (click)="returnPage()">Voltar</button>
</div>
<div class="body" *ngIf="listSale">
    <mat-list role="list">
        <div mat-subheader id="title-purchases"> Compras </div >
        <mat-divider></mat-divider>
        <div class="message-list-null" *ngIf="messageNotHistory === false">
            <p>Nenhuma compra realizada!</p>
        </div> 
       <div *ngFor="let sale of listSale">   
            <mat-list-item role="listitem" class="body-info" *ngIf="sale.idClient === userId">
                <div matLine>
                    <span class="info-product"> Código da compra: {{sale.id}} </span>
                    <span class="info-product2"> Data: {{sale.data | date:"dd/MM/yyyy"}} </span>
                    <span class="info-product3"> Valor total: {{sale.totalValue | currency:'BRL' : 'symbol' : '1.2-2'}} </span>
                </div>
                <div matLine *ngFor="let shp of sale.saleHasProducts">
                   <div *ngIf="shp.products" >
                        <p>
                            <span class="info-shp-product"> {{shp.products.name}} </span>
                            <span class="info-shp-product2"> Quantidade: {{shp.qtdProduct}} </span>
                            <span class="info-shp-product3"> Valor total do produto: {{shp.products.value * shp.qtdProduct | currency:'BRL' : 'symbol' : '1.2-2'}} </span>
                        </p>
                   </div>
                </div>
                <div matLine>
                    <mat-divider></mat-divider> 
                </div>
            </mat-list-item>
       </div>
      </mat-list>
</div>
