.title {
    padding-top: 12px;
    text-align: center;
    color: brown;
    font-size: 36px;
    font-weight: bolder;
}
.example-button-container button {
    display: inline;
    background-color: brown;
    color: white;
    margin-left: 85%;
    margin-bottom: 16px;
    width: 15%;
    text-align: center;
    justify-content: center;
  }
.example-card {
    max-width: 380px;
    width: 100%;
    margin-left: 90px;
    margin-bottom: 32px;
}
.inline-block {
    float: left;
    margin-top: 5%;
}
.add-cart {
    background: brown;
    color: white;
}
.info-product {
    float: left;
}  
.info-product2 {
    float: left;
    margin-left: 70px;
    text-align: end;
    justify-content: flex-end;
}
span.red {
    color: brown;
    font-weight: bold;
}  