.example-spacer {
    flex: 1 1 auto;
  }
  
.toolbar {
  background: #a52a2a;
  color: #ffffff;
  margin-bottom: 12px;
}
#primary-button {
    margin-left: 60px;
}
#user-display {
  margin-left: 58%;
  position: fixed;
  margin-right: 5%;
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
}
#ultimate-button {
  margin-left: 65%;
  width: 60px;
  position: fixed;
  color: white;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.body {
  margin-left: 16%;
  margin-right: 16%;
}
.active {
  background: white;
  color: brown;
}