<mat-toolbar class="toolbar">
    <mat-toolbar-row>
      <span [routerLink]="['/home']">CRUD - frontend</span>
      <div class="example-button-row">
        <a id="primary-button" mat-button [routerLink]="['/client']">Cliente</a>
        <a mat-button routerLink=".">Venda</a>
        <a mat-button routerLink=".">Produto</a>
        <a mat-button [routerLink]="['/category']">Categoria</a>
      </div>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
<div class="body">
<router-outlet></router-outlet>
</div>