<mat-toolbar class="toolbar" *ngIf="viewMenu">
    <mat-toolbar-row>
      <span [routerLink]="['/home']">CRUD - frontend</span>
      <div class="example-button-row">
        <a id="primary-button" mat-button [routerLink]="['/client']" routerLinkActive="active">Cliente</a>
        <a mat-button [routerLink]="['/sale']"  routerLinkActive="active">Venda</a>
        <a mat-button [routerLink]="['/product']"  routerLinkActive="active">Produto</a>
        <a mat-button [routerLink]="['/category']"  routerLinkActive="active">Categoria</a>
        <!--<a id="user-display"> Olá, {{ userDisplayName | slice:0:15 }}{{ userDisplayName.length > 15 ? '...': ''}} </a>-->
        <a id="user-display"> Olá, {{ userDisplayName | shortName }} </a>
        <button mat-icon-button id="ultimate-button" (click)="openDialog()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
<div class="body">
<router-outlet></router-outlet>
</div>