<mat-tab-group mat-align-tabs="center" [color]="color">
    <mat-tab label="Bebidas">
        <div class="inline-block" *ngFor="let product of products">
          <mat-card class="example-card" *ngIf="product.category === 2">
            <!--<mat-card-header></mat-card-header> -->
            <img mat-card-image src="/assets/images/opus.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p> Produto: {{product.name}} </p>
              <p> Valor: {{product.value | currency:'BRL' : 'symbol' : '1.2-2'}} </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button class="add-cart">Adicionar no carrinho</button>
              <mat-form-field class="example-full-width">
                <mat-label>Quantidade</mat-label>
                <input matInput formControlName="amount" name="amount">
              </mat-form-field>
            </mat-card-actions>
        </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Congelados">
      <div class="inline-block" *ngFor="let product of products">
        <mat-card class="example-card" *ngIf="product.category === 3">
          <img mat-card-image src="/assets/images/opus.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p> Produto: {{product.name}} </p>
            <p> Valor: {{product.value | currency:'BRL' : 'symbol' : '1.2-2'}} </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="add-cart">Adicionar no carrinho</button>
            <mat-form-field class="example-full-width">
              <mat-label>Quantidade</mat-label>
              <input matInput formControlName="amount" name="amount">
            </mat-form-field>
          </mat-card-actions>
      </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Docerias">
      <div class="inline-block" *ngFor="let product of products">
        <mat-card class="example-card" *ngIf="product.category === 6">
          <img mat-card-image src="/assets/images/opus.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p> Produto: {{product.name}} </p>
            <p> Valor: {{product.value | currency:'BRL' : 'symbol' : '1.2-2'}} </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="add-cart">Adicionar no carrinho</button>
            <mat-form-field class="example-full-width">
              <mat-label>Quantidade</mat-label>
              <input matInput formControlName="amount" name="amount">
            </mat-form-field>
          </mat-card-actions>
      </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Hortifrutis">
      <div class="inline-block" *ngFor="let product of products">
        <mat-card class="example-card" *ngIf="product.category === 5">
          <img mat-card-image src="/assets/images/opus.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p> Produto: {{product.name}} </p>
            <p> Valor: {{product.value | currency:'BRL' : 'symbol' : '1.2-2'}} </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="add-cart">Adicionar no carrinho</button>
            <mat-form-field class="example-full-width">
              <mat-label>Quantidade</mat-label>
              <input matInput formControlName="amount" name="amount">
            </mat-form-field>
          </mat-card-actions>
      </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Limpeza">
      <div class="inline-block" *ngFor="let product of products">
        <mat-card class="example-card" *ngIf="product.category === 8">
          <img mat-card-image src="/assets/images/opus.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p> Produto: {{product.name}} </p>
            <p> Valor: {{product.value | currency:'BRL' : 'symbol' : '1.2-2'}} </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="add-cart">Adicionar no carrinho</button>
            <mat-form-field class="example-full-width">
              <mat-label>Quantidade</mat-label>
              <input matInput formControlName="amount" name="amount">
            </mat-form-field>
          </mat-card-actions>
      </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Padaria">
      <div class="inline-block" *ngFor="let product of products">
        <mat-card class="example-card" *ngIf="product.category === 9">
          <img mat-card-image src="/assets/images/opus.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p> Produto: {{product.name}} </p>
            <p> Valor: {{product.value | currency:'BRL' : 'symbol' : '1.2-2'}} </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="add-cart">Adicionar no carrinho</button>
            <mat-form-field class="example-full-width">
              <mat-label>Quantidade</mat-label>
              <input matInput formControlName="amount" name="amount">
            </mat-form-field>
          </mat-card-actions>
      </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
